*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto"sans-serif;
    background-image: url(../images/bg.png);
}
.main{
    width: 300px;
    border: 2px solid rgb(206, 202, 202);
    margin: 100px auto;
    background-color:white;
    border-radius: 8px;
    color: rgb(100, 98, 98);
    padding: 20px 0px;
}
.btns{
    padding: 10px 15px;
    font-size: 30px;
    margin: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(220, 213, 213);
    border: none;
}
.row{
    margin:10px 25px;
    border: 1px solid rgb(220, 213, 213);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.heading1{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
.result{
    margin: 0px 26px;
    border: 1px solid rgb(220, 213, 213);
    padding:10px 8px;
    background-color: #2F80ED;
    color: white;
    border-radius: 20px;
}
#btn4{
    color: white;
    background-color: #2D3142;
}
#btn8{
    color: white;
    background-color: #3EBD64;
}
#btn12{
    color: white;
    background-color: #2F80ED;
}
#btn16{
    color: white;
    background-color: #F5B301;
}
#btn15{
    color: grey;
    background-color: white;
    border: 1px solid rgb(229, 224, 224);
}
#btn13{
    color: white;
    background-color: #F2545B;
    text-align: center;
}